html {
  scroll-behavior: smooth;
}

.no-vh-100 {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.divider {
  width: 2px;
  background-color: #000;
  height: 80vh;
}

.home-ctn {
  margin-top: -100px;
}

.exp-ctn {
  width: 300px;
}

.transparent-navbar {
  background-color: white;
  box-shadow: none !important;

  .navbar-brand,
  .nav-link {
    color: #000 !important;
    font-weight: 500;
    font-size: large;
    padding-top: 50px;
    transition: all 0.25s ease-in-out;
    padding-bottom: 20px;
  }

  .nav-link:hover {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .nav-link.active {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  line-height: 0.8 !important;
}

.helloIam {
  line-height: 0;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.key-button {
  position: relative;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 8px black;
  transition: all 0.1s ease-in-out;
  /* transition: transform 0.2s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #111; */

  &:hover {
    background-color: lightgray;
  }

  &:active {
    transform: translateY(8px);
    box-shadow: none !important;
    background-color: #d6d6d6;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}

.contact-container {
  background-color: #000;
  padding: 25px;
  border-radius: 20px;
  color: white;

  .form-control {
    border-radius: 20px;
  }

  .form-label {
    margin-left: 1rem;
  }

  button {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 2px solid white !important;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: black;
      color: white;

      &:active {
        transform: translateY(4px);
        background-color: black;
        color: white;
      }
    }

  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  .slider-wrapper {
    position: relative;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    text-align: center;
    color: white;

    .slider-btn-left {
      position: absolute;
      bottom: 10%;
      left: 40%;
      background: white;
      border: none;
      cursor: pointer;

      @media (max-width: 480px) {
        display: none;
      }
    }

    .slider-btn-right {
      position: absolute;
      bottom: 10%;
      left: 60%;
      background: white;
      border: none;
      cursor: pointer;

      @media (max-width: 480px) {
        display: none;
      }
    }

    .slide {
      display: none;
      position: relative;
      width: 100%;
      height: 100%;

      &.active {
        display: block;
      }

      .img-card {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 300px;
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 10px;
        z-index: 1;

        .profile-img {
          border-radius: 10px;
          position: absolute;
          width: 100%;
          aspect-ratio: 1 / 1;
          transform: translate(-50%, 0);
          object-fit: cover;
        }

        .card-title-name {
          position: absolute;
          color: black;
          bottom: 9%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        .card-title-designation {
          position: absolute;
          color: black;
          bottom: 1%;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      .slider-divider {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        background-color: white;
        height: 60vh;
      }
    }

    .description {
      position: absolute;
    }
  }
}

.video-wrapper {
  position: relative;

  .home-video {
    position: absolute;
    top: 45px;
    left: 1200px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .about-video {
    position: absolute;
    top: -75px;
    left: 290px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .exp-video {
    position: absolute;
    top: -75px;
    left: 320px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .contact-video {
    position: relative;
    width: 300px;
    height: auto;
    z-index: -1;
  }
}

@media (max-width: 1024px) {
  .video-wrapper {
    .home-video {
      top: -20px;
      left: 85%;
      width: 120px;
    }

    .about-video {
      top: -100px;
      left: 20%;
      width: 120px;
    }

    .exp-video {
      top: -60px;
      left: 50%;
      width: 120px;
    }
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    .home-video {
      top: -20px;
      left: 95%;
      width: 120px;
    }

    .about-video {
      top: -100px;
      left: 20%;
      width: 120px;
    }

    .exp-video {
      top: -60px;
      left: 50%;
      width: 120px;
    }

    .contact-video {
      width: 250px;
    }
  }
}

@media (max-width: 480px) {
  .no-vh-100 {
    height: auto;
    margin-bottom: 20%;
    margin-top: auto;
  }

  .helloIam {
    line-height: 1;
    margin-top: 20%;
  }

  .archivo-black-regular {
    line-height: 1;
  }

  .transparent-navbar {

    .navbar-brand,
    .nav-link {
      color: #000 !important;
      font-weight: 500;
      font-size: large;
      padding-top: 20px;
      transition: none;
      padding-bottom: 20px;
    }

    .nav-link:hover {
      color: white !important;
      background-color: black !important;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav-link.active {
      color: white !important;
      background-color: black !important;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .divider {
    display: none;
  }

  .video-wrapper {
    .home-video {
      display: none;
    }

    .about-video {
      display: none;
    }

    .exp-video {
      display: none;
    }

    .contact-video {
      width: 250px;
    }
  }
}