html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.divider {
  width: 2px;
  background-color: #000;
  height: 80vh;
}

.home-ctn{
  margin-top: -100px;
}

.exp-ctn{
 width: 300px;
}

.key-button {
  position: relative;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 8px black;
  transition: all 0.1s ease-in-out;
  /* transition: transform 0.2s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #111; */

  &:hover {
    background-color: lightgray;
  }

  &:active {
    transform: translateY(8px);
    box-shadow: none !important;
    background-color: #d6d6d6;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

.card-slider-container {
  position: relative;
  max-width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.slider-card {
  position: absolute;
  width: 260px;
  height: 380px;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  border: 2px solid black;
  //box-shadow: 0px 8px 0px black;
  transform: scale(0.8);
  transition: all 0.6s ease-in-out;
}

.slider-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.slider-card.center {
  opacity: 1;
  transform: translateX(0) scale(1.1);
  z-index: 3;
}

.slider-card.left {
  opacity: 0.8;
  transform: translateX(-280px) scale(0.9);
  z-index: 2;
}

.slider-card.right {
  opacity: 0.8;
  transform: translateX(280px) scale(0.9);
  z-index: 2;
}

.slider-card.hidden {
  opacity: 0;
  transform: scale(0.7);
  z-index: 1;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 6px;
  z-index: 5;
}

.slider-btn.left {
  left: -45px;
}

.slider-btn.right {
  right: -45px;
}

.slider-dots {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #333;
}


.transparent-navbar {
  background-color: white;
  box-shadow: none !important;

  .navbar-brand,
  .nav-link {
    color: #000 !important;
    font-weight: 500;
    font-size: large;
    padding-top: 50px;
    transition: all 0.25s ease-in-out;
    padding-bottom: 20px;
  }

  .nav-link:hover {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .nav-link.active {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  line-height: 0.8 !important;
}

.helloIam {
  line-height: 0;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.video-wrapper {
  position: relative;

  .home-video {
    position: absolute;
    top: 45px;
    left: 1200px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .about-video {
    position: absolute;
    top: -75px;
    left: 290px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .exp-video {
    position: absolute;
    top: -75px;
    left: 320px;
    width: 150px;
    height: auto;
    z-index: -1;
  }

  .contact-video {
    position: relative;
    width: 300px;
    height: auto;
    z-index: -1;
  }
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}

.contact-container {
  background-color: #000;
  padding: 25px;
  border-radius: 20px;
  color: white;

  .form-control {
    border-radius: 20px;
  }

  .form-label {
    margin-left: 1rem;
  }

  button {
    background-color: white;
    color: black;
    border-radius: 20px;
  }
}

// .navbar .nav-link.active {
//   color: #000 !important; 
//   border-bottom: 2px solid #000; // underline effect
// }