body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.divider {
  width: 2px;
  background-color: #000;
  height: 80vh;
}

.key-button {
  position: relative;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 8px black;
  transition: all 0.1s ease-in-out;
  /* transition: transform 0.2s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #111; */

  &:hover {
    background-color: lightgray;
  }

  &:active {
    transform: translateY(8px);
    box-shadow: none !important;
    background-color: #d6d6d6;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

.testimonials-container {
  .carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    height: 350px;
  }

  .testimonial-card {
    position: absolute;
    width: 300px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0;
    z-index: 0;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  // Center active card
  .offset-0 {
    transform: translateX(0) translateY(0) scale(1) rotateY(0deg);
    opacity: 1;
    z-index: 2;
  }

  // Left card (semi-circle effect)
  .offset-1 {
    transform: translateX(-200px) translateY(50px) scale(0.8) rotateY(25deg);
    opacity: 0.7;
    z-index: 1;
  }

  // Right card
  .offset-3 {
    transform: translateX(200px) translateY(50px) scale(0.8) rotateY(-25deg);
    opacity: 0.7;
    z-index: 1;
  }

  .offset-2 {
    opacity: 0;
    transform: translateY(150px) scale(0.6);
    z-index: 0;
  }
}

.transparent-navbar {
  background-color: white;
  box-shadow: none !important;

  .navbar-brand,
  .nav-link {
    color: #000 !important;
    font-weight: 500;
    font-size: large;
    padding-top: 50px;
    transition: all 0.25s ease-in-out;
    padding-bottom: 20px;
  }

  .nav-link:hover {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .nav-link.active {
    color: white !important;
    background-color: black !important;
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.helloIam {
  line-height: 0;
}

.video-wrapper {
  position: relative;

  .small-video {
    position: absolute;
    top: 32px;
    left: 1200px;
    width: 150px;
    height: auto;
  }
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}